{{ define "main" }}

<section class="section pt-5">
  <div class="container">
    <div class="row justify-content-center pb-0">
      <div class="col-12 col-xl-6">
          <h2 class="fs-1 fw-bold text-center text-primary pb-0">研究室メンバー</h2>
      </div>
    </div>
  </div>
</section>


<!-- スタッフ -->
{{ with .Site.Data.members.staffs }}
<section class="section pt-3">
  <div class="container">
    <div class="row justify-content-center">
    {{ range .stafflist }}
      {{ with .position }}
        <h3 class="fs-1 fw-bold text-center text-primary pt-5 pb-1">{{ . }}</h3>
      {{ end }}
      {{ range .items }}
      <div class="row flex-xl-row-reverse align-items-start pt-3">
        <div class="col-12 col-xl-7 pt-1 pb-3 ms-3">
          <h4 class="text-primary pb-3"> {{ .name }}  {{ with .ename }} / {{ . }} {{ end }}</h4>
          {{ range .buttons }}
            <a class="btn btn-outline-primary px-4" href="{{ .url }}" >{{ .label }}</a>
          {{ end }}
        </div>
        <div class="col-12 col-xl-3 text-center" style="margin-left: auto;">
          {{with .image}}
            {{ with resources.Get .}} <img src="{{ .Permalink }}"  alt="" style="max-height: 200px; object-fit: cover; border-radius: 15px;"  > {{ end }}
          {{ end }}
        </div>
      </div>
     {{ end }}
    {{ end }}
    </div>
  </div>
</section>
{{ end }}


<!-- 学生 -->
{{ with .Site.Data.members.students }}
<section class="section pt-5">
  <div class="container">
    <div class="row justify-content-center pb-5">
    {{ range .studentlist }}
      {{ with .grade }}
        <h3 class="fs-1 fw-bold text-center text-primary pt-4 pb-2">{{ . }}</h3>
      {{ end }}
      {{ range .items }}
       <div class="col-12 col-xl-12">
         <div class="text-center">
            <h4 class="text-center text-primary pb-1"> {{.name}} {{ with .ename }} / {{ . }} {{ end }} </h4>
         </div>
       </div>
      {{ end }}
    {{ end }}
    </div>
  </div>
</section>
{{ end }}



{{ end }}
